@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grey-button {
    padding: 3px 7px;
    cursor: pointer;
    border-radius: .25rem;
    background-color: var(--light-grey-button);
    border: 1px solid var(--light-grey-button);
  }
  
  .grey-button:hover {
    background-color: #fff;
  }
}