@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grey-button {
    padding: 3px 7px;
    cursor: pointer;
    border-radius: .25rem;
    background-color: #f1f1f1;
    border: 1px solid #f1f1f1;
  }
  
  .grey-button:hover {
    background-color: #fff;
  }

  .grey-button:disabled {
    cursor: not-allowed;
    color: rgb(0, 0, 0, 0.5);
    background-color: rgba(241,241,241, 0.5);
  }

  .grey-button:disabled:hover {
    background-color: rgba(241,241,241, 0.5);
  }


}